<header class="header">
  <div class="header__title">
    カレンダー
  </div>

  <div class="header__navigation navigation">
    <div class="navigation__button-today">
      <button
        class   = "icon-button"
        (click) = "onClickTodayButton()"
      >
        今日
      </button>
    </div>

    <div
      class   = "navigation__button-chevron"
      (click) = "onClickPrevButton()"
    >
      <i class="fas fa-chevron-left"></i>
    </div>

    <div
      class   = "navigation__button-chevron"
      (click) = "onClickNextButton()"
    >
      <i class="fas fa-chevron-right"></i>
    </div>
  </div>

  <div class="header__active-date">
    {{ activeDate | date: 'yyyy年M月d日' }}
  </div>

  <div class="header__calendar-view-mode-select display-mode-switcher">
    <select class="calendar-view-mode-select" [formControl]="calendarViewModeControl">
      <option
        *ngFor  = "let option of calendarViewModeOptions"
        [value] = "option.value"
      >
        {{ option.label }}
      </option>
    </select>
  </div>

  <app-time-picker>

  </app-time-picker>
</header>
