<div class="weekly-calendar-table">
  <app-weekly-calendar-header
    [days] = "days"
  ></app-weekly-calendar-header>

  <app-weekly-calendar-all-day-events
    [allDayEventRows] = "allDayEventRows"
  >
  </app-weekly-calendar-all-day-events>

  <!-- body -->
  <div class="body">
    <div class="body__hours">
      <div
        class  = "body__hour"
        *ngFor = "let hour of hours"
      >
        <div class="body__hour-text">
          {{ hour | number: '2.0-0' }}:00
        </div>
      </div>
    </div>

    <div class="body__grid grid">
      <div
        *ngFor = "let item of days"
        class  = "grid__day"
      >
        <!-- timeline frame -->
        <div
          class          = "grid__time-frame"
          *ngFor         = "let hour of hours"
          [style.top.px] = "getTopOfTimelineFrame(hour)"
          (mousedown)    = "onMouseDown($event, item.day, hour)"
        >
        </div>
      </div>

      <!-- registered events -->
      <div
        *ngFor  = "let eventItem of eventItems"
        class   = "grid__event"
        [style] = "eventItem.style"
        (click) = "onClickEvent(eventItem.event)"
      >
        <app-event
          [event]                = "eventItem.event"
          (mouseDownOnResizable) = "onMouseDownOnResizable($event)"
          (mouseDownOnDraggable) = "onMouseDownOnDraggable($event)"
        ></app-event>
      </div>

      <!-- new event -->
      <ng-container *ngIf = "newEvent$ | async as newEvent">
        <div
          class   = "grid__event"
          [style] = "newEvent.style"
        >
          <div class="grid-view__event-text">
            <div class="grid-view__event-title">
              無題
            </div>
            <div class="grid-view__event-time">
              {{ newEvent.startTime.hour() }}:00〜{{ newEvent.endTime.hour() }}:00
            </div>
          </div>
        </div>
      </ng-container>

      <!-- event preview -->
      <ng-container *ngIf="eventPreview$ | async as eventPreview">
        <app-event-preview
          *ngIf          = "isShowEventPreview"
          class          = "grid__event-preview"
          [eventPreview] = "eventPreview"
          (mouseMove)    = "onMouseMove($event)"
          (mouseUp)      = "onMouseUp()"
        >
        </app-event-preview>
      </ng-container>

      <!-- draggable event -->
      <ng-container *ngIf="eventDrag$ | async as eventDrag">
        <div
          *ngIf       = "isShowEventDrag"
          class       = "grid__event-drag"
          (mousemove) = "onMouseMoveDrag($event)"
          (mouseup)   = "onMouseUpDrag()"
        >
        </div>

        <!-- original event -->
        <div
          *ngIf   = "isShowEventDrag"
          class   = "grid__event-drag-original-event"
          [style] = "calcEventStyle(eventDrag.originalEvent)"
        >
        </div>

        <div
          *ngIf   = "isShowEventDrag"
          class   = "grid__event-draggable"
          [style] = "eventDrag.style"
        >
          {{ eventDrag.originalEvent.title }}
          <br>
          {{ eventDrag.startTime.hour() }}:00〜{{ eventDrag.endTime.hour() }}:00
        </div>
      </ng-container>
    </div>
  </div>
</div>
