@import '~@angular/material/theming';

:host {

  @mixin absolute($top:null, $right:null, $bottom:null, $left:null){
    position: absolute;
    @if $top != null{
      top: $top;
    }
    @if $right != null{
      right: $right;
    }
    @if $bottom != null{
      bottom: $bottom;
    }
    @if $left != null{
      left: $left;
    }
  }

  .header {
    display: flex;

    &__blank-cell {
      width: 50px;
    }

    &__day-cell {
      width:       100px;
      display:     flex;
      flex-direction: column;
      align-items: center;
    }

    &__day {
      $day-length: 30px;
      width:         $day-length;
      height:        $day-length;
      border-radius: $day-length / 2;
      line-height:   $day-length;
      text-align:    center;

      &.today {
        background-color: map-get($mat-purple, 500);
        color:            white;
      }
    }
  }

  .body {
    display: flex;
    position: relative;

    &__hour {
      width:       50px;
      height:      60px;
      text-align:  center;
      position:    relative;
    }

    &__hour-text {
      position:   absolute;
      top:        -5px;
      width:      100%;
      text-align: center;
    }

  }

  .grid-view {
    display: flex;

    &__day {
      width:    100px;
      position: relative;
    }

    &__time-frame {
      border-top:  solid 1px lightgray;
      border-left: solid 1px lightgray;
      box-sizing:  border-box;
      width:       100px;
      height:      60px;
      cursor:      pointer;
      z-index:     1;
      position:    absolute;
    }

    &__event {
      position:         absolute;
      width:            100%;
      background-color: lightblue;
      z-index:          2;
      user-select:      none;
    }

    &__event-click-area {
      position: absolute;
      z-index:  11;
      width:    100%;
      cursor:   pointer;
    }

    &__event-clickable {
      max-height:  100%;
      user-select: none;
    }

    &__event-size-adjustable {
      position:         absolute;
      z-index:          12;
      bottom:           0;
      width:            100%;
      height:           8px;
      cursor:           ns-resize;
      background-color: red;
      user-select:      none;
    }

    &__event-resize-preview {
      width: 100%;
      position: absolute;
      z-index: 13;
      background-color: blue;
    }

    &__event-resize-preview-adjustable {
      position:         absolute;
      z-index:          14;
      bottom:           0;
      width:            100%;
      height:           60px;
      cursor:           ns-resize;
      background-color: red;
      user-select:      none;
    }
  }

  .detecting-mouse-events {
    position: absolute;
    width:    100%;
    height:   100%;
    cursor:   move;
    z-index:  100;

    &__preview-event {
      @include absolute(null, 5px, null, 5px);
      height:           60px;
      padding:          4px;
      box-sizing:       border-box;
      border-radius:    4px;
      background-color: map-get($mat-purple, 500);
      color:            white;
      z-index:          3;
      user-select:      none;
    }

    &__preview-event-adjustable {
      position:         absolute;
      z-index:          14;
      width:            100%;
      cursor:           ns-resize;
      // background-color: red;
      user-select:      none;
    }
  }
}
