@import '~@angular/material/theming';

:host {

  @mixin absolute($top:null, $right:null, $bottom:null, $left:null){
    position: absolute;
    @if $top != null{
      top: $top;
    }
    @if $right != null{
      right: $right;
    }
    @if $bottom != null{
      bottom: $bottom;
    }
    @if $left != null{
      left: $left;
    }
  }

  .header {
    display: flex;

    &__blank-cell {
      width: 50px;
    }

    &__day-cell {
      width:       100px;
      display:     flex;
      flex-direction: column;
      align-items: center;
    }

    &__day {
      $day-length: 30px;
      width:         $day-length;
      height:        $day-length;
      border-radius: $day-length / 2;
      line-height:   $day-length;
      text-align:    center;

      &.today {
        background-color: map-get($mat-purple, 500);
        color:            white;
      }
    }
  }

  .body {
    display: flex;
    position: relative;

    &__hour {
      width:       50px;
      height:      60px;
      text-align:  center;
      position:    relative;
    }

    &__hour-text {
      position:   absolute;
      top:        -5px;
      width:      100%;
      text-align: center;
    }

    &__grid {
    }

  }

  .grid {
    display:  flex;
    position: relative;

    &__day {
      width:    100px;
      position: relative;
    }

    &__time-frame {
      border-top:  solid 1px lightgray;
      border-left: solid 1px lightgray;
      box-sizing:  border-box;
      width:       100px;
      height:      60px;
      z-index:     1;
      position:    absolute;
    }

    &__event {
      position:         absolute;
      width:            90px;
      background-color: lightblue;
      z-index:          2;
      user-select:      none;
      cursor:           pointer;
    }

    &__event-preview {
      position: absolute;
      width:    100%;
      height:   100%;
      cursor:   move;
      z-index:  100;
    }
  }
}
