<div class="weekly-calendar-table">
  <!--  week days-->
  <div class="header">
    <div class="header__blank-cell">
    </div>
    <div
      class  = "header__day-cell"
      *ngFor = "let item of days"
    >
      <div class="header__weekday">
        {{ item.weekday }}
      </div>
      <div
        class         = "header__day"
        [class.today] = "item.day.isSame(today, 'day')"
      >{{ item.day | date: 'd' }}</div>
    </div>
  </div>

  <!-- days -->
  <div class="body">
    <div class="body__hours">
      <div
        class  = "body__hour"
        *ngFor = "let hour of hours"
      >
        <div class="body__hour-text">
          {{ hour | number: '2.0-0' }}:00
        </div>
      </div>
    </div>

    <div
      class="grid-view"
    >
      <div
        class="grid-view__day"
        *ngFor="let item of days"
      >
        <!-- for detecting mouse events -->
        <div class="grid-view__detecting-mouse-events"
          (mousedown) = "onMouseDown($event, item)"
          (mousemove) = "onMouseMove($event)"
          (mouseup)   = "onMouseUp()"
          [class.cursor-move] = "_isShowNewEventPreview"
        ></div>

        <!-- timeline frame -->
        <div
          class          = "grid-view__time-frame"
          *ngFor         = "let hour of hours"
          [style.top.px] = "getTopOfTimelineFrame(hour)"
        >
        </div>

        <div class="grid-view__events">
          <!-- registered events -->
          <div
            *ngFor  = "let eventItem of item.eventItems"
            class   = "grid-view__event"
            [style] = "eventItem.style"
          >
            <div class="grid-view__event-text">
              <div class="grid-view__event-title">
                {{ eventItem.event.title }}
              </div>
              <div class="grid-view__event-time">
                {{ eventItem.event.startTime.hour() }}:00〜{{ eventItem.event.endTime.hour() }}:00
              </div>
            </div>

          </div>

          <!-- Preview event -->
          <ng-container *ngIf="_newEventPreview$ | async as newEventPreview">
            <div
              *ngIf   = "_isShowNewEventPreview && item.day.isSame(newEventPreview.startTime, 'day')"
              class   = "grid-view__preview-event"
              [style] = "newEventPreview.style"
            >
              無題
              <br>
              {{ newEventPreview.startTime.hour() }}:00〜{{ newEventPreview.endTime.hour() }}:00
            </div>
          </ng-container>

          <!-- registered events click area (transparent) -->
          <div
            *ngFor  = "let eventItem of item.eventItems"
            class   = "grid-view__event-click-area"
            [style] = "eventItem.style"
            (click) = "onClickEvent(eventItem.event)"
          >
            <div class="grid-view__event-clickable">
            </div>
            <div
              class       = "grid-view__event-size-adjustable"
              (mousedown) = "onMouseDownOnEvent($event, eventItem)"
            >
            </div>
          </div>
          <ng-container *ngIf="_resizingEvent$ | async as resizingEvent">
            <div
              *ngIf   = "_isResizingEvent && item.day.isSame(resizingEvent.startTime, 'day')"
              class   = "grid-view__event-resize-preview"
              [style] = "resizingEvent.style"
            >
              aaa
            </div>
          </ng-container>
        </div>

      </div>
    </div>
  </div>
</div>
