<div class="navigation">
  <div class="navigation__button">
    <i
      class   = "fas fa-caret-left"
      (click) = "onClickPrevButton()"
    ></i>
  </div>

  <div class="navigation__label">
    {{ _headerLabel }}
  </div>

  <div class="navigation__button">
    <i
      class   = "fas fa-caret-right"
      (click) = "onClickNextButton()"
    ></i>
  </div>
</div>

<div class="calendar-table">
  <!-- week days-->
  <div class="calendar-table__header">
    <div class="calendar-table__header-cell">月</div>
    <div class="calendar-table__header-cell">火</div>
    <div class="calendar-table__header-cell">水</div>
    <div class="calendar-table__header-cell">木</div>
    <div class="calendar-table__header-cell">金</div>
    <div class="calendar-table__header-cell">土</div>
    <div class="calendar-table__header-cell">日</div>
  </div>

  <!-- days -->
  <div
    *ngFor             = "let row of rows; let rowIndex = index"
    class              = "calendar-table__row"
    [class.first-week] = "rowIndex === 0"
  >
    <div
      *ngFor         = "let item of row; let colIndx = index"
      class          = "calendar-table__cell"
      [class.today]  = "item?.isSame(_today, 'day')"
      [class.active] = "item?.isSame(_activeDate, 'day')"
      (click)        = "onClickCell(item)"
    >
      <span *ngIf="item">
        {{ item.date() }}
      </span>
    </div>
  </div>
</div>
