@import '~@angular/material/theming';
:host {
  background-color: white;

  .navigation {
    padding:         0 10px;
    display:         flex;
    align-items:     center;
    justify-content: space-between;

    &__button {
      font-size: 24px;
      cursor:    pointer;
    }
  }

  .calendar-table {
    &__header {
      display:         flex;
      justify-content: right;
    }

    &__row {
      display: flex;

      &.first-week {
        justify-content: flex-end;
      }
    }

    &__header-cell {
      width:      20px;
      text-align: center;
    }

    &__cell {
      width:      20px;
      text-align: center;
      cursor:     pointer;

      &:hover, &:focus {
        background-color: map-get($mat-purple, 100);
      }

      &.active {
        background-color: map-get($mat-purple, 300);
      }

      &.today {
        background-color: map-get($mat-purple, 500);
        color:            white;
      }
    }
  }
}
