:host {
  display: block;
  width:   100%;
  height:  100%;

  .event {
    width:    100%;
    height:   100%;
    position: relative;

    &__text {
      height:     100%;
      padding:    4px;
      box-sizing: border-box;
    }

    &__size-adjustable {
      position:    absolute;
      z-index:     12;
      bottom:      0;
      width:       100%;
      height:      8px;
      cursor:      ns-resize;
      user-select: none;
    }
  }
}
