<mat-dialog-content class="event-edit-dialog__form" [formGroup]="form">
  <div class="event-title">
    <mat-form-field class="example-form-field">
      <mat-label>タイトル</mat-label>
      <input matInput type="text" formControlName="title">
    </mat-form-field>
  </div>
  <div class="event-date-time">
    <div class="event-date-time__date">
      <div
        class            = "date-field"
        (click)          = "isCalendarOpen = !isCalendarOpen"
        cdkOverlayOrigin
        #calendarTrigger = cdkOverlayOrigin
      >
        {{ date }}
      </div>
      <ng-template
        cdkConnectedOverlay
        [cdkConnectedOverlayOrigin] = "calendarTrigger"
        [cdkConnectedOverlayOpen]   = "isCalendarOpen"
      >
        <app-calendar
          [activeDate]         = "form.value.date"
          (onChangeActiveDate) = "onChangeActiveDate($event)"
        ></app-calendar>
      </ng-template>
    </div>
    <div class="event-date-time__time">
      <mat-form-field class="event-date-time__start-time">
        <mat-select formControlName="startTime">
          <mat-option
            *ngFor  = "let option of timeOptions"
            [value] = "option.asMinutes()"
          >
            {{ option.format('HH:mm') }}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <span class="event-date-time__separator">
        -
      </span>
      <mat-form-field class="event-date-time__end-time">
        <mat-select formControlName="endTime">
          <mat-option
            *ngFor  = "let option of timeOptions"
            [value] = "option.asMinutes()"
          >
            {{ option.format('HH:mm') }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
  </div>
  <div class="is-all-day">
    <mat-checkbox formControlName="isAllDay">
      終日
    </mat-checkbox>
  </div>
</mat-dialog-content>
<mat-dialog-actions class="action-buttons">
  <button mat-flat-button color="primary">保存</button>
</mat-dialog-actions>
