<app-header
  [activeDate]    = "activeDate$ | async"
  (onPrevClicked) = "changeActiveDatePrev()"
  (onNextClicked) = "changeActiveDateNext()"
></app-header>
<div class="body">
  <app-side-menu
    [activeDate] = "activeDate$ | async"
  ></app-side-menu>

  <!-- calendar view -->
  <ng-container [ngSwitch]="calendarViewMode$ | async">
    <app-weekly-calendar
      *ngSwitchCase = "'week'"
      [activeDate]  = "activeDate$ | async"
      [today]       = "today"
    >
    </app-weekly-calendar>
  </ng-container>
</div>
