@import 'styles/_material-color';

.dialog-title {
  position: relative;

  &__close-button {
    position: absolute;
    top:      0;
    right:    0;
    cursor:   pointer;
  }
}

.form {
  &__row {
    &:not(:last-child) {
      margin-bottom: 10px;
    }

    &--group {
      display:     flex;
      align-items: center;
    }
  }

  &__item--in-group {
    &:not(:last-child) {
      margin-right: 5px;
    }
  }
}

.error-messages {
  padding: 5px;
  color: mat-color($mat-red, 500);
  background-color: mat-color($mat-red, 50);
}

.action-buttons {
  display:         flex;
  justify-content: space-between;
}
