<div class="side-menu-calendar-header">
  <div class="side-menu-calendar-header__nav">
    <i class="fas fa-caret-left" (click)="onClickPrevButton()"></i>
  </div>

  <div class="side-menu-calendar-header__label">{{ _headerLabel }}</div>

  <div class="side-menu-calendar-header__nav">
    <i class="fas fa-caret-right" (click)="onClickNextButton()"></i>
  </div>
</div>
<div class="side-menu-calendar-table">
  <!--  week days-->
  <div class="side-menu-calendar-table__header">
    <div
      *ngFor = "let day of weekdays"
      class  = "side-menu-calendar-table__cell"
    >
      {{ day }}
    </div>
  </div>

  <!-- days -->
  <div
    *ngFor             = "let row of rows; let rowIndex = index"
    class              = "side-menu-calendar-table__row"
    [class.first-week] = "rowIndex === 0"
  >
    <div
      *ngFor  = "let item of row; let colIndx = index"
      class   = "side-menu-calendar-table__cell"
      (click) = "onClickCell(item)">
      <span *ngIf="item">{{ item }}</span>
    </div>
  </div>
</div>
