:host {
  background-color: white;

  .side-menu-calendar-header {
    padding:         0 10px;
    display:         flex;
    align-items:     center;
    justify-content: space-between;

    &__nav {
      font-size:   24px;
    }
  }

  .side-menu-calendar-table {
    &__header {
      display:         flex;
      justify-content: right;
    }

    &__row {
      display: flex;

      &.first-week {
        justify-content: flex-end;
      }
    }

    &__cell {
      width:      20px;
      text-align: center;

      &.today {

      }
    }
  }
}
