:host {
  background-color: white;

  .side-menu-calendar-header {
    display: flex;
    align-items: center;
  }
  .side-menu-calendar-header-navigation {
    display: flex;
    align-items: center;
  }
}
