<header class="header">
  <div class="header__title">
    カレンダー
  </div>

  <div class="header__date-navigation date-navigation">
    <div class="date-navigation__today">
      <button class="icon-button today-button" (click)="onClickTodayButton()">今日</button>
    </div>

    <div
      class   = "date-navigation__button"
      (click) = "onClickPrevButton()"
    >
      <i class="fas fa-chevron-left"></i>
    </div>

    <div
      class   = "date-navigation__button"
      (click) = "onClickNextButton()"
    >
      <i class="fas fa-chevron-right"></i>
    </div>
  </div>

  <div class="header__active-date">
    {{ activeDate | date: 'yyyy年M月d日' }}
  </div>

  <div class="display-mode-switcher">

  </div>
</header>
