@import '~@angular/material/theming';

:host {
  .header {
    display:     flex;
    align-items: center;
    padding:     10px;

    &__title {
      font-size:   24px;
      font-weight: bold;
    }

    &__date-navigation {
      margin-left: 10px;
    }

    &__active-date {
      margin-left: 10px;
      font-size:   18px;
    }
  }

  .date-navigation {
    display:     flex;
    align-items: center;

    &__today {
    }

    &__button {
      width:         20px;
      height:        20px;
      border-radius: 10px;
      margin-left:   5px;
      text-align:    center;
      cursor:        pointer;

      &:hover, &:focus {
        background-color: map-get($mat-purple, 100);
      }
    }
  }

  .icon-button {
    position:         relative;
    display:          inline-block;
    padding:          5px;
    border:           currentColor 1px solid;
    border-radius:    4px;
    background-color: white;
    color:            map-get($mat-purple, 500);

    &:focus,
    &:hover {
      background-color: map-get($mat-purple, 500);
      color:            white;
    }

    &::before {
      display: inline-block;
      margin-right: 5px;

      // font awesome
      content:     '\f0e2';
      font-family: "Font Awesome 5 Free";
      font-weight: 900;
    }
  }

  .today-button {
    padding:       5px;
    cursor:        pointer;
  }

}
