<header class="header">
  <div class="header__title">
    カレンダー
  </div>

  <div class="header__date-navigation date-navigation">
    <div class="date-navigation__today">
      <div class="today-button" (click)="onClickTodayButton()">今日</div>
    </div>

    <div class="date-navigation__button">
      <i class="fas fa-chevron-left" (click)="onClickPrevButton()"></i>
    </div>

    <div class="date-navigation__button">
      <i class="fas fa-chevron-right" (click)="onClickNextButton()"></i>
    </div>
  </div>

  <div class="header__active-date">
    {{ activeDate | date: 'yyyy年M月d日' }}
  </div>

  <div class="display-mode-switcher">

  </div>
</header>
