<header class="header">
  <div class="menu-button">
    <i class="fas fa-bars"></i>
  </div>

  <!-- <div class="today-icon">
  </div> -->

  <div class="title">
    カレンダー
  </div>

  <div class="move-navigation">
    <div class="today">
      <div class="today-button" (click)="onClickTodayButton()">今日</div>
    </div>

    <div class="prev">
      <i class="fas fa-chevron-left" (click)="onClickPrevButton()"></i>
    </div>

    <div class="next">
      <i class="fas fa-chevron-right" (click)="onClickNextButton()"></i>
    </div>
  </div>

  <div class="selected-date">
  </div>

  <div class="display-mode-switcher">

  </div>
</header>
