:host {

  .title {
    position: relative;
  }

  .close-button {
    position: absolute;
    top:      0;
    right:    0;
    cursor:   pointer;
  }

  .event-date-time {
    display: flex;
    align-items: center;

    &__time {
      margin-left: 5px;
    }

    &__separator {
      padding: 0 5px;
    }
  }

  .action-buttons {
    display:         flex;
    justify-content: flex-end;
  }
}
