<div class="event-preview">
  <div class="event-preview__mouse-event-detect-area"
    (mousemove) = "onMouseMove($event)"
    (mouseup)   = "onMouseUp()"
  >
  </div>

  <!-- original event -->
  <div
    *ngIf   = "eventPreview.originalEvent != null"
    class   = "event-preview__original-event"
    [style] = "{ startTime: eventPreview.originalEvent.startTime, endTime: eventPreview.originalEvent.endTime } | calcEventStyle"
  >
  </div>

  <!-- Preview event -->
  <div
    class   = "event-preview__preview-event"
    [style] = "{ startTime: eventPreview.startTime, endTime: eventPreview.endTime } | calcEventStyle"
  >
    {{ eventPreview.originalEvent?.title || '無題' }}
    <br>
    {{ eventPreview.startTime.hour() }}:00〜{{ eventPreview.endTime.hour() }}:00

  </div>
</div>
