<div mat-dialog-title class="dialog-title">
  予定を編集
  <div mat-dialog-close class="dialog-title__close-button">
    <i class="fas fa-times"></i>
  </div>
</div>

<mat-dialog-content class="form" [formGroup]="form">
  <div class="form__row">
    <mat-form-field class="example-form-field">
      <mat-label>タイトル</mat-label>
      <input matInput type="text" formControlName="title">
    </mat-form-field>
  </div>
  <div class="form__row form__row--group">
    <div class="form__item--in-group">
      <input
        type            = "date"
        formControlName = "startDate"
      >
    </div>
    <div class="form__item--in-group">
      <input
        type            = "time"
        formControlName = "startTime"
      >
    </div>
    <div class="form__item--in-group">
        -
    </div>
    <div class="form__item--in-group">
      <input
        type            = "time"
        formControlName = "endTime"
      >
    </div>
    <div class="form__item--in-group">
      <input
        type            = "date"
        formControlName = "endDate"
      >
    </div>
  </div>
  <div class="form__row">
    <mat-checkbox formControlName="isAllDay">
      終日
    </mat-checkbox>
  </div>
</mat-dialog-content>

<mat-dialog-actions class="action-buttons">
  <button
    mat-flat-button
    color="primary"
    (click) = "onSave()"
  >保存</button>
</mat-dialog-actions>
