<div class="weekly-calendar-table">
  <!--  week days-->
  <div class="weekly-calendar-table-header">
    <div class="weekly-calendar-table-header__blank">
    </div>
    <div class="weekly-calendar-table-header__days" *ngFor="let item of days">
      <div class="weekday">{{ item.weekday }}</div>
      <div class="day">{{ item.day | date: 'd' }}</div>
    </div>
  </div>

  <!-- days -->
  <div class="weekly-calendar-week">
    <div class="weekly-calendar-hours">
      <div class="weekly-calendar-hour" *ngFor="let hour of hours" class="weekly-calendar-hour">
        <div class="weekly-calendar-hour__text">{{ hour | number: '2.0-0' }}:00</div>
      </div>
    </div>
    <div class="weekly-calendar-timeline">
      <div class="weekly-calendar-timeline__day" *ngFor="let item of days">
        <div
          class   = "weekly-calendar-timeline__time-frame"
          *ngFor  = "let hour of hours"
          (click) = "onClickTimeFrame(item, hour)"
        >
        </div>
        <div
          *ngFor  = "let event of item.events"
          class   = "weekly-calendar-timeline__event"
          [style] = "getStyleOfEvent(event)"
        >
          {{ event.title }}
        </div>
      </div>
    </div>
  </div>
</div>
