<div class="weekly-calendar-table">
  <!--  week days-->
  <div class="weekly-calendar-table-header">
    <div class="weekly-calendar-table-header__row">
      <div class="weekly-calendar-table-header__cell" *ngFor="let day of weekdays">{{ day }}</div>
    </div>
    <div class="weekly-calendar-table-header__row">
      <div class="weekly-calendar-table-header__cell" *ngFor="let day of days">
        {{ day | date: 'dd' }}
      </div>
    </div>
  </div>

  <!-- days -->
  <div class="weekly-calendar-week">
    <div class="weekly-calendar-hours">
      <div class="weekly-calendar-hour" *ngFor="let hour of hours" class="weekly-calendar-hour">
        {{ hour | number: '2.0-0' }}:00
      </div>
    </div>
    <!-- <div class="weekly-calendar-timeline" *ngFor="let day of days">
      {{ day }}
    </div> -->
  </div>
</div>
