:host {
  .weekly-calendar-table-header {
    display: flex;
  }

  .weekly-calendar-table-header__blank {
    width: 50px;
  }

  .weekly-calendar-table-header__days {
    width:      100px;
    text-align: center;
  }

  .weekly-calendar-week {
    display: flex;
  }

  .weekly-calendar-hour {
    width:       50px;
    height:      60px;
    text-align:  center;
    position:    relative;
  }

  .weekly-calendar-hour__text {
    position:   absolute;
    top:        -5px;
    width:      100%;
    text-align: center;
  }

  .weekly-calendar-timeline {
    display: flex;
  }

  .weekly-calendar-timeline__day {
    width:    100px;
    position: relative;
  }

  .weekly-calendar-timeline__time-frame {
    border-top:  solid 1px lightgray;
    border-left: solid 1px lightgray;
    box-sizing:  border-box;
    width:       100px;
    height:      60px;
    cursor:      pointer;
  }

  .weekly-calendar-timeline__event {
    position: absolute;
    width: 100%;
    background-color: lightblue;
  }
}
