<div class="weekly-calendar-table">
  <!--  week days-->
  <div class="weekly-calendar-table-header">
    <div class="weekly-calendar-table-header__blank">
    </div>
    <div class="weekly-calendar-table-header__days" *ngFor="let item of days">
      <div class="weekday">{{ item.weekday }}</div>
      <div class="day">{{ item.day | date: 'd' }}</div>
    </div>
  </div>

  <!-- days -->
  <div class="weekly-calendar-week">
    <div class="weekly-calendar-hours">
      <div
        class  = "weekly-calendar-hour"
        *ngFor = "let hour of hours"
      >
        <div class="weekly-calendar-hour__text">{{ hour | number: '2.0-0' }}:00</div>
      </div>
    </div>
    <div
      class="weekly-calendar-timeline"
    >
      <div
        class="weekly-calendar-timeline__day"
        *ngFor="let item of days"
      >
        <!-- for detecting mouse events -->
        <div class="weekly-calendar-timeline__detecting-mouse-events"
          (mousedown) = "onMouseDown($event, item)"
          (mouseup)   = "onMouseUp($event, item)"
          (mousemove) = "onMouseMove($event)"
          [class.cursor-move] = "isMovingMouse"
        ></div>

        <!-- timeline frame -->
        <div
          class   = "weekly-calendar-timeline__time-frame"
          *ngFor  = "let hour of hours"
          (click) = "onClickTimeFrame(item, hour)"
        >
        </div>

        <!-- Preview event -->
        <div
          *ngIf             = "newEventPreview != null && item.day === newEventPreview.day"
          class             = "weekly-calendar-timeline__preview-event"
          [style.top.px]    = "newEventPreview.style.top"
          [style.height.px] = "newEventPreview.style.height"
        >
          無題
          <br>
          {{ startHour }}:00〜{{ endHour }}:00
        </div>

        <!-- registered events -->
        <div
          *ngFor  = "let eventItem of item.eventItems"
          class   = "weekly-calendar-timeline__event"
          [style] = "eventItem.style"
          (click) = "onClickEvent(eventItem.event)"
        >
          {{ eventItem.event.title }}
        </div>
      </div>
    </div>
  </div>
</div>
